# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=
# Database URL for PostgreSQL
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=dev_dbname
DATABASE_URL=postgres://dev_user:dev_password@localhost:5432/dev_dbname
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=**replace_with_better_auth_secret**
RESEND_API_KEY=**replace_with_resend_api_key**
FROM_ADDRESS_EMAIL=Mai Tan App <no-reply@domain.com>
